body{
    color: black;
}

.container-fluid{/*inserts background image*/
    background: url(/images/background.jpg) no-repeat 0, 0;
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-blend-mode: overlay;
    background-color:rgba(16, 30, 34, 0.76);
    
  }
 .mynav{ 
    background-color: rgba(16, 30, 34, 0.76)!important;
}



.navbar-light .navbar-brand{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    font-weight: bolder;
    color: gold;

}

.signin{
    padding: 8px 12px;
    border-radius: 16px;
    font-size: 14px;  
}

#signin{
    background-color: transparent!important;
}

.content{
    margin-top: 300px;
}

h2 , h4 {
    font-weight: bolder;
    color:white;
}

.addressarea{
    display: flex;
}

.addressarea > input{
    margin-right: 5px;
}

.addressarea > button{
    background-color: rgba(16, 30, 34, 0.76);
}

.footer{ /*css for footer*/
    height: 80px;;
    background-color: #1b2a30;
    color: white;  
   
}

.rights{/*styles the text that says all rights reserved*/
    text-align: center;
    padding: 20px;
    font-weight: lighter;
    font-size: 15px;
}

.socials{/*removes default 'decorations' on list*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 200px;  /*gives space on right side of insta logo*/
}

.socials > li > a {/*gets the lists to display horizontally*/
    float: left;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #5dbcd2; /*change color of social media icons*/
  }

  .link{/*shift links to right of div*/
    float: right;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .footer{ /*css for footer*/
        display: flex;
        height: 80px;;
        background-color: #1b2a30;
        color: white; 
      
    }

    .socials{/*removes default 'decorations' on list*/
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      
    } 

    .list{
        position: relative !important;
        padding-right: 15px;
        padding-left: 15px;
        width: fit-content;
        margin: auto;
    }
}


/*media query for the footer*/
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .footer{ /*css for footer*/
        display: flex;
        height: 150px;;
        background-color: #1b2a30;
        color: white; 
      
    }

    .socials{/*removes default 'decorations' on list*/
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      
    } 
    .list{
        position: relative !important;
        padding-right: 15px;
        padding-left: 15px;
        width: fit-content;
        margin: auto;
    }
 }