body{
    background: url(/images/background.jpg) no-repeat 0;
    background-size: cover;
    height: 100vh;
    background-blend-mode: overlay;
    background-color:rgba(16, 30, 34, 0.76);

}

.findRider{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    font-weight: bolder;
    color: lightgreen;
}

.signin{
    padding: 8px 12px;
    border-radius: 16px;
    font-size: 16px;
    background-color: transparent;
}

.content{
    margin-top: 250px;
}

h1{
    font-weight: bolder;
    color:gold;
}

.addressarea{
    display: flex;
}

.addressarea > input{
    margin-right: 5px;
}

.addressarea > button{
    background-color: black;
    
}